.App {
  text-align: center;
}

img {
  height: 45px;
  width: 40;
}

.popoverIcon-image {
  height: 150px;
  width: 125px;
}

.splash-dog{
width: 230px;

}
.Splash-image {
  height: 145px;
  
  padding-top: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
h2 {
  text-align: center;
  padding-left: 0px;
  padding-top: 10px;
}

h1{
 text-align: center;
 padding-left: 0px;
 padding-top: 70px;
 Padding-bottom: 10px;
 font-size: 25px;
 
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
